force-app/main/default/flows/Cash_Daily_Schedule_Update_amount_for_Cash_records_on_overdue_payment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Amount_Value</name>
        <label>Assign Amount Value</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignmentItems>
            <assignToReference>AmountwithFee</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Initial_Payment_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AmountwithFee</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Late_Payment_Fee__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_amount</targetReference>
        </connector>
    </assignments>
    <description>-- Added &apos;Neto total&apos; as its needed for some validations
-- Added &apos;Activar cargos por retraso&apos; condition
-- Added initial amount validation</description>
    <environments>Default</environments>
    <formulas>
        <name>Fee</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Initial_Payment_Amount__c}*VALUE({!$Label.PORCENTAJE_INTERES_POR_MORA})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TotalFee</name>
        <dataType>Currency</dataType>
        <expression>({!AmountwithFee} - {!Fee})* VALUE({!$Label.PORCENTAJE_INTERES_POR_MORA}) * {!$Record.Payment_Delay_Counter__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Cash: Daily Schedule - Update amount for Cash records on overdue payment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cash: Daily Schedule - Update amount for Cash records on overdue payment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_amount</name>
        <label>Update amount</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <inputAssignments>
            <field>pba_financial__Amount__c</field>
            <value>
                <elementReference>AmountwithFee</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Amount_Value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Trigger_Payment_Fee_Increase__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>pba_financial__Allocated_Percent__c</field>
            <operator>LessThan</operator>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cash In</stringValue>
            </value>
        </filters>
        <filters>
            <field>Activate_Late_Payment_Fee__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Initial_Payment_Amount__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Initial_Payment_Amount__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>pba_financial__Cash__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-11-24</startDate>
            <startTime>00:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AmountwithFee</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
