force-app/main/default/flows/Cash_Update_Payment_on_cash_amount_change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_Fee</name>
        <label>Add Fee</label>
        <locationX>138</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Total_Late_Payment_Fee</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Cash.Late_Payment_Fee__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Cash</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Ammount</name>
        <label>Assign New Ammount</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>New_Total_Ammount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Payment.Initial_Payment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Total_Ammount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Total_Late_Payment_Fee</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Payment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>IS_PAYMENT_FOUND</name>
        <label>IS PAYMENT FOUND</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Payment.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Cash_Childs</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Cash: Update Payment on cash amount change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cash: Update Payment on cash amount change</label>
    <loops>
        <name>Loop_Cash</name>
        <label>Loop Cash</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_Cash_Childs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Fee</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_New_Ammount</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Cash_Childs</name>
        <label>Get Cash Childs</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Cash</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>To_Payment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Payment.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Late_Payment_Fee__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>pba_financial__Cash__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Payment</name>
        <label>Get Payment</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IS_PAYMENT_FOUND</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.To_Payment__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pba_financial__Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Payment</name>
        <label>Update Payment</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <inputAssignments>
            <field>pba_financial__Net_Amount__c</field>
            <value>
                <elementReference>New_Total_Ammount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pba_financial__Total_Amount__c</field>
            <value>
                <elementReference>New_Total_Ammount</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.To_Payment__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Payment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pba_financial__Amount__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>pba_financial__Cash__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>New_Total_Ammount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Total_Late_Payment_Fee</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
