force-app/main/default/flows/Cash_Update_Payment_Amount_on_Deletion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Remove_Fee_from_Payment</name>
        <label>Remove Fee from Payment</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>PaymentAmount</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>$Record.Late_Payment_Fee__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Payment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Total_Fee_from_Payment</name>
        <label>Remove Total Fee from Payment</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>PaymentAmount</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>$Record.Total_Overdue_Payment_Fee__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Payment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>IS_RECORD_FULLY_ALLOCATED</name>
        <label>IS RECORD FULLY ALLOCATED</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Remove_Fee_from_Payment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pba_financial__Allocated_Percent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Total_Fee_from_Payment</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <description>-- Added &apos;Neto total&apos; as they have validations between them</description>
    <environments>Default</environments>
    <interviewLabel>Cash: Update Payment Amount on Deletion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cash: Update Payment Amount on Deletion</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Payment</name>
        <label>Update Payment</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.To_Payment__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>pba_financial__Net_Amount__c</field>
            <value>
                <elementReference>PaymentAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pba_financial__Total_Amount__c</field>
            <value>
                <elementReference>PaymentAmount</elementReference>
            </value>
        </inputAssignments>
        <object>pba_financial__Payment__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IS_RECORD_FULLY_ALLOCATED</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cash In</stringValue>
            </value>
        </filters>
        <filters>
            <field>To_Payment__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>pba_financial__Cash__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>PaymentAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>$Record.To_Payment__r.pba_financial__Total_Amount__c</elementReference>
        </value>
    </variables>
</Flow>
