force-app/main/default/flows/Cash_Add_late_payment_fee_to_existing_records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_late_payment_fee</name>
        <label>Add late payment fee</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>$Record.pba_financial__Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Initial_Payment_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.pba_financial__Amount__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Late_Payment_Fee__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Cash_record</targetReference>
        </connector>
    </assignments>
    <description>Run after the initial amount is set for all existing records.
-- Added validation to run only for records with To_Payment__c filled
-- Only for records with initial amount
-- Only for Apartamentos , Mobiliarios , Jacuzzi o Mantenimiento
-- Only to those with active late payment fees
-- Removing payment logic</description>
    <environments>Default</environments>
    <interviewLabel>Cash: Add late payment fee to existing records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cash: Add late payment fee to existing records</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Cash_record</name>
        <label>Update Cash record</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Add_late_payment_fee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pba_financial__Allocated_Percent__c</field>
            <operator>LessThan</operator>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cash In</stringValue>
            </value>
        </filters>
        <filters>
            <field>To_Payment__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Initial_Payment_Amount__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Initial_Payment_Amount__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Activate_Late_Payment_Fee__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>pba_financial__Cash__c</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2022-11-23</startDate>
            <startTime>15:28:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
