force-app/main/default/flows/Cash_Update_Payment_Fees_on_Cash_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Fee_Amount</name>
        <label>Assign Fee Amount</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>FeeAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Total_Overdue_Payment_Fee__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_New_Payment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Fee_Amount_ongoing</name>
        <label>Assign Fee Amount (ongoing)</label>
        <locationX>446</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>FeeAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Late_Payment_Fee__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_New_Payment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Update_Related_Records</name>
        <label>Update Related Records</label>
        <locationX>314</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>Get_New_Payment.pba_financial__Net_Amount__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FeeAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_New_Payment.pba_financial__Total_Amount__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FeeAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_New_Payment_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Update_Related_Records</name>
        <label>Update Related Records</label>
        <locationX>578</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>Get_Old_Payment.pba_financial__Total_Amount__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>FeeAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Old_Payment.pba_financial__Net_Amount__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>FeeAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Old_Payment_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Related_Records</name>
        <label>Update Related Records</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>Get_New_Payment.pba_financial__Net_Amount__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FeeAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_New_Payment.pba_financial__Total_Amount__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FeeAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Old_Payment.pba_financial__Total_Amount__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>FeeAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Old_Payment.pba_financial__Net_Amount__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>FeeAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_New_Payment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>FEE_AMOUNT</name>
        <label>FEE AMOUNT</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Assign_Fee_Amount_ongoing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IF ONGOING FEE</defaultConnectorLabel>
        <rules>
            <name>IS_PAID_FEE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pba_financial__Allocated_Percent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Fee_Amount</targetReference>
            </connector>
            <label>IS PAID FEE</label>
        </rules>
    </decisions>
    <decisions>
        <name>SWITCH</name>
        <label>SWITCH TO PAYMENT</label>
        <locationX>314</locationX>
        <locationY>911</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Update_Related_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ASSIGNED TO NULL</defaultConnectorLabel>
        <rules>
            <name>BOTH_RECORDS_FOUND</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_New_Payment.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Old_Payment.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Related_Records</targetReference>
            </connector>
            <label>BOTH RECORDS FOUND</label>
        </rules>
        <rules>
            <name>ASSIGNED_FROM_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_New_Payment.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Old_Payment.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Related_Records</targetReference>
            </connector>
            <label>ASSIGNED FROM NULL</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Cash: Update Payment Fees on Cash Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cash: Update Payment Fees on Cash Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_New_Payment</name>
        <label>Get New Payment</label>
        <locationX>314</locationX>
        <locationY>671</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Old_Payment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.To_Payment__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pba_financial__Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Old_Payment</name>
        <label>Get Old Payment</label>
        <locationX>314</locationX>
        <locationY>791</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SWITCH</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.To_Payment__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pba_financial__Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_New_Payment</name>
        <label>Update New Payment</label>
        <locationX>50</locationX>
        <locationY>1151</locationY>
        <connector>
            <targetReference>Update_Old_Payment</targetReference>
        </connector>
        <inputReference>Get_New_Payment</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_New_Payment_2</name>
        <label>Update New Payment</label>
        <locationX>314</locationX>
        <locationY>1151</locationY>
        <inputReference>Get_New_Payment</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Old_Payment</name>
        <label>Update Old Payment</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <inputReference>Get_Old_Payment</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Old_Payment_2</name>
        <label>Update Old Payment</label>
        <locationX>578</locationX>
        <locationY>1151</locationY>
        <inputReference>Get_Old_Payment</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>FEE_AMOUNT</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>To_Payment__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cash In</stringValue>
            </value>
        </filters>
        <filters>
            <field>Late_Payment_Fee__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Total_Overdue_Payment_Fee__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>pba_financial__Cash__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>FeeAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
