force-app/main/default/flows/Cash_Send_late_payment_notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Notification</name>
        <label>Send Notification</label>
        <locationX>50</locationX>
        <locationY>1956</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Contact.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>cuentasporcobrar@canarock.info</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Cana Rock - Notificación Cuotas en Atraso</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Notification_English</name>
        <label>Send Notification English</label>
        <locationX>314</locationX>
        <locationY>1956</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBodyEnglish</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Contact.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>cuentasporcobrar@canarock.info</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Cana Rock - Due Payments Notification</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Abono_Summary</name>
        <label>Abono Summary</label>
        <locationX>270</locationX>
        <locationY>900</locationY>
        <assignmentItems>
            <assignToReference>AbonoSummary</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Allocated</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Subtotal_Summary</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_overdue</name>
        <label>Add overdue</label>
        <locationX>270</locationX>
        <locationY>1548</locationY>
        <assignmentItems>
            <assignToReference>TotalPaymentOverdue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_cash_records.pba_financial__Not_Allocated__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentFeeCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InitialPaymentAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_cash_records.Initial_Payment_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LatePaymentFee</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_cash_records.Late_Payment_Fee__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_cash_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Count</name>
        <label>Assign Count</label>
        <locationX>182</locationX>
        <locationY>1740</locationY>
        <assignmentItems>
            <assignToReference>DuePaymentsCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Overdue_Cash</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Language_Selector</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Balance_Summary</name>
        <label>Balance Summary</label>
        <locationX>270</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>BalanceSummary</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NotAllocated</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Abono_Summary</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Date_Summary</name>
        <label>Date Summary</label>
        <locationX>270</locationX>
        <locationY>1440</locationY>
        <assignmentItems>
            <assignToReference>DateSummary</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_overdue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Desc_Summary</name>
        <label>Desc Summary</label>
        <locationX>270</locationX>
        <locationY>1332</locationY>
        <assignmentItems>
            <assignToReference>DescriptionSummary</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CashDescription</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Date_Summary</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Monto_Summary</name>
        <label>Monto Summary</label>
        <locationX>270</locationX>
        <locationY>1224</locationY>
        <assignmentItems>
            <assignToReference>MontoSummary</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InitialPayment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Desc_Summary</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Mora_Summary</name>
        <label>Mora Summary</label>
        <locationX>270</locationX>
        <locationY>1116</locationY>
        <assignmentItems>
            <assignToReference>MoraSummary</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LatePayment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Monto_Summary</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Subtotal_Summary</name>
        <label>Subtotal Summary</label>
        <locationX>270</locationX>
        <locationY>1008</locationY>
        <assignmentItems>
            <assignToReference>SubtotalSummary</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Subtotal</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Mora_Summary</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>to add line breaks in emails</description>
        <name>conGCES</name>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </constants>
    <decisions>
        <name>IS_THIS_MOST_RECENT_OVERDUE_CASH</name>
        <label>IS THIS MOST RECENT OVERDUE CASH?</label>
        <locationX>380</locationX>
        <locationY>468</locationY>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Most_Recent_Overdue_Cash.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Desactivar_Email__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Overdue_Cash</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Language_Selector</name>
        <label>Language Selector</label>
        <locationX>182</locationX>
        <locationY>1848</locationY>
        <defaultConnector>
            <targetReference>Send_Notification_English</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ENGLISH</defaultConnectorLabel>
        <rules>
            <name>SPANISH</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact.Idioma_de_Preferencia__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Español</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Notification</targetReference>
            </connector>
            <label>SPANISH</label>
        </rules>
    </decisions>
    <description>updated Email template design
updated various fields 
updated flow</description>
    <environments>Default</environments>
    <formulas>
        <name>Allocated</name>
        <dataType>String</dataType>
        <expression>&apos;&lt;p&gt;&apos;+&apos;USD$&apos;+TEXT({!Loop_cash_records.pba_financial__Allocated__c})+&apos;&lt;/p&gt;&apos;</expression>
    </formulas>
    <formulas>
        <name>CashDescription</name>
        <dataType>String</dataType>
        <expression>&apos;&lt;p&gt;&apos;+{!Loop_cash_records.pba_financial__Description__c}+&apos; &lt;/p&gt;&apos;</expression>
    </formulas>
    <formulas>
        <name>ChargeHeader</name>
        <dataType>String</dataType>
        <expression>&apos;&lt;p&gt;&apos;+TEXT( {!CurrentFeeCounter}) +&apos;&lt;/p&gt;&apos;</expression>
    </formulas>
    <formulas>
        <name>Date</name>
        <dataType>String</dataType>
        <expression>&apos;&lt;p&gt;&apos;+
  TEXT(DAY({!Loop_cash_records.pba_financial__Date__c})) + &apos;/&apos; + 
  TEXT(MONTH({!Loop_cash_records.pba_financial__Date__c})) + &apos;/&apos; + 
  TEXT(YEAR({!Loop_cash_records.pba_financial__Date__c})) +&apos;&lt;/p&gt;&apos;</expression>
    </formulas>
    <formulas>
        <name>InitialPayment</name>
        <dataType>String</dataType>
        <expression>&apos;&lt;p&gt;&apos;+&apos;USD$&apos;+TEXT({!Loop_cash_records.Initial_Payment_Amount__c} )+&apos;&lt;/p&gt;&apos;</expression>
    </formulas>
    <formulas>
        <name>LatePayment</name>
        <dataType>String</dataType>
        <expression>&apos;&lt;p&gt;&apos;+&apos;USD$&apos;+TEXT({!Loop_cash_records.Late_Payment_Fee__c})+&apos;&lt;/p&gt;&apos;</expression>
    </formulas>
    <formulas>
        <name>NotAllocated</name>
        <dataType>String</dataType>
        <expression>&apos;&lt;p&gt;&apos;+&apos;USD$&apos;+TEXT({!Loop_cash_records.pba_financial__Not_Allocated__c})+&apos;&lt;/p&gt;&apos;</expression>
    </formulas>
    <formulas>
        <name>PendienteDePago</name>
        <dataType>Number</dataType>
        <expression>{!TotalPaymentOverdue} + {!Get_Most_Recent_Overdue_Cash.Late_Payment_Fee__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Subtotal</name>
        <dataType>String</dataType>
        <expression>&apos;&lt;p&gt;&apos; +&apos;USD$&apos;+TEXT({!Loop_cash_records.Initial_Payment_Amount__c} + {!Loop_cash_records.Late_Payment_Fee__c}) +
&apos;&lt;/p&gt;&apos;</expression>
    </formulas>
    <formulas>
        <name>SubtotalAmount</name>
        <dataType>Number</dataType>
        <expression>{!Loop_cash_records.Initial_Payment_Amount__c} + {!Loop_cash_records.Late_Payment_Fee__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Cash: Send late payment notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cash: Send late payment notification</label>
    <loops>
        <name>Loop_cash_records</name>
        <label>Loop cash records</label>
        <locationX>182</locationX>
        <locationY>684</locationY>
        <collectionReference>Get_Overdue_Cash</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Balance_Summary</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Count</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>380</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Most_Recent_Overdue_Cash</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.pba_financial__Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Lead_Ranking__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Rescindido</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Most_Recent_Overdue_Cash</name>
        <label>Get Most Recent Overdue Cash</label>
        <locationX>380</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IS_THIS_MOST_RECENT_OVERDUE_CASH</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pba_financial__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.pba_financial__Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>pba_financial__Allocated_Percent__c</field>
            <operator>LessThan</operator>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>pba_financial__Allocated_Percent__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>pba_financial__Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Desactivar_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Activate_Late_Payment_Fee__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pba_financial__Cash__c</object>
        <sortField>pba_financial__Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Overdue_Cash</name>
        <label>Get Overdue Cash</label>
        <locationX>182</locationX>
        <locationY>576</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_cash_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pba_financial__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.pba_financial__Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>pba_financial__Allocated_Percent__c</field>
            <operator>LessThan</operator>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>pba_financial__Allocated_Percent__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>pba_financial__Date__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>pba_financial__Cash__c</object>
        <sortField>pba_financial__Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Trigger_Payment_Fee_Increase__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>pba_financial__Allocated_Percent__c</field>
            <operator>LessThan</operator>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>pba_financial__Allocated_Percent__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cash In</stringValue>
            </value>
        </filters>
        <filters>
            <field>Desactivar_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>pba_financial__Cash__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-03-03</startDate>
            <startTime>11:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;div&gt;
    &lt;head&gt;
&lt;style&gt;
body {
 width: 1100px;
 /* to centre page on screen*/
 margin-left: auto;
 margin-right: auto;
}
&lt;/style&gt;
&lt;/head&gt;
&lt;body&gt;
     &lt;table style=&quot;border-collapse: collapse; width: 100%; height: 200px;&quot; border=&quot;1&quot;&gt;
         &lt;tbody&gt;
             &lt;tr style=&quot;height: 225px;&quot;&gt;
                 &lt;td style=&quot;width: 0%; border-style: hidden; background-color: #e6e6e6; height: 200px;&quot;&gt;
                     &lt;p style=&quot;padding-left: 75px;&quot;&gt;&lt;img src=&quot;https://imgur.com/VArz79n.png&quot; alt=&quot;&quot; width=&quot;275&quot; height=&quot;75&quot; /&gt;&lt;/p&gt;
                     &lt;div style=&quot;padding-left: 90px;&quot;&gt;
                         &lt;p style=&quot;font-family: &apos;Gotham Rounded&apos;, sans-serif; margin: 15px 0 0 0;&quot;&gt;&lt;strong&gt;Estimado(a):&lt;/strong&gt;&lt;/p&gt;
                     &lt;/div&gt;
                     &lt;div style=&quot;padding-left: 90px;&quot;&gt;
                         &lt;p style=&quot;font-family: &apos;Gotham Rounded&apos;, sans-serif; margin: 15px 0 0 0; &quot;&gt;&lt;strong&gt;{!Get_Contact.Name}&lt;/strong&gt;&lt;/p&gt;
                     &lt;/div&gt;    
                     &lt;div style=&quot;padding-left: 90px;&quot;&gt;
                         &lt;p style=&quot;font-family: &apos;Gotham Rounded&apos;, sans-serif; margin: 0; &quot;&gt;&lt;strong&gt;{!Get_Most_Recent_Overdue_Cash.Tipo_de_pago__c}&lt;/strong&gt;&lt;/p&gt;
                     &lt;/div&gt;
                     &lt;div style=&quot;padding-left: 90px;&quot;&gt;
                         &lt;p style=&quot;margin: 0;&quot;&gt;&lt;span style=&quot;background-color: #e6e6e6; color: #ca9f47;font-family: &apos;Gotham Rounded&apos;, sans-serif; &quot;&gt;&lt;strong&gt;{!Get_Most_Recent_Overdue_Cash.Unidad__c}&lt;/strong&gt;&lt;/span&gt;&lt;/p&gt;
                     &lt;/div&gt;
                 &lt;/td&gt;
                 &lt;td style=&quot;width: 0%; border-style: hidden; background-color: #e6e6e6; height: 236px;&quot;&gt;
                     &lt;div style=&quot;padding-right: 90px; margin-top: -35px;&quot;&gt;&lt;br /&gt;
                         &lt;p style=&quot;text-align: right; text-wrap: wrap; font-family: &apos;Gotham Rounded&apos;, sans-serif; margin: 0;&quot;&gt;&lt;strong&gt;FECHA:&lt;/strong&gt; &lt;p style=&quot;margin: 0; text-align: right; color: #ca9f47; font-family: &apos;Gotham Rounded&apos;, sans-serif; text-wrap: wrap;&quot;&gt;&lt;strong&gt;{!$Flow.CurrentDate}&lt;/strong&gt;&lt;/p&gt;&lt;/p&gt;
                     &lt;/div&gt;
                     &lt;p&gt;&lt;strong&gt;&lt;img style=&quot;float: right; margin-left: 10px;&quot; src=&quot;https://i.imgur.com/DmXTWMy.png&quot; alt=&quot;&quot; width=&quot;500&quot; height=&quot;150&quot; /&gt;&lt;/strong&gt;&lt;/p&gt;
                 &lt;/td&gt;
             &lt;/tr&gt;
             &lt;/tbody&gt;
             &lt;/table&gt;
             &lt;p&gt;&lt;/p&gt;

             &lt;div style=&quot;background-color: #e6e6e6; text-align: left; padding-left: 50px; font-family: &apos;Gotham Rounded&apos;, sans-serif; color: #444444; &quot;&gt;&lt;br/&gt;&lt;br&gt;
             &amp;nbsp; &amp;nbsp;Nos gustar&amp;iacute;a recordarle que tiene un pago pendiente que vence pr&amp;oacute;ximamente. &lt;br /&gt;&lt;br/&gt; &lt;br&gt;&lt;br&gt; &lt;/div&gt;
             &lt;div style=&quot;background-color: #e6e6e6; text-align: center;&quot;&gt;&amp;nbsp;&lt;/div&gt;
             &lt;div style=&quot;background-color: #e6e6e6;&quot;&gt;
             &lt;table style=&quot;border-collapse: collapse; width: 95.3011%; margin-left: auto; margin-right: auto; height: auto;&quot; border=&quot;1&quot;&gt;
             &lt;tbody style=&quot;border-color: #101010; border: 5px&quot;&gt;
             &lt;tr style=&quot;height: 18px;&quot;&gt;
                 &lt;td style=&quot;border:8px; height: auto; border-style: solid; border-color: #e6e6e6; background-color: #101010; text-align: center;font-family: &apos;Gotham Rounded-Bold&apos;, sans-serif&quot;&gt;&lt;span style=&quot;color: #ca9f47;&quot;&gt;FECHA&lt;/span&gt;&lt;/td&gt;
                 &lt;td style=&quot;border:8px; height: auto; border-style: solid; background-color: #101010; border-color: #e6e6e6; text-align: center;font-family: &apos;Gotham Rounded-Bold&apos;, sans-serif&quot;&gt;&lt;span style=&quot;color: #ca9f47;&quot;&gt;CONCEPTO&lt;/span&gt;&lt;/td&gt;
                 &lt;td style=&quot;border:8px; height: auto; border-style: solid; background-color: #101010; border-color: #e6e6e6; text-align: center;font-family: &apos;Gotham Rounded-Bold&apos;, sans-serif&quot;&gt;&lt;span style=&quot;color: #ca9f47;&quot;&gt;MONTO&lt;/span&gt;&lt;/td&gt;
                 &lt;td style=&quot;border:8px; height: auto; border-style: solid; background-color: #101010; border-color: #e6e6e6; text-align: center;font-family: &apos;Gotham Rounded-Bold&apos;, sans-serif&quot;&gt;&lt;span style=&quot;color: #ca9f47;&quot;&gt;MORA&lt;/span&gt;&lt;/td&gt;
                 &lt;td style=&quot;border:8px; height: auto; border-style: solid; background-color: #101010; border-color: #e6e6e6; text-align: center;font-family: &apos;Gotham Rounded-Bold&apos;, sans-serif&quot;&gt;&lt;span style=&quot;color: #ca9f47;&quot;&gt;SUBTOTAL&lt;/span&gt;&lt;/td&gt;
                 &lt;td style=&quot;border:8px; height: auto; border-style: solid; background-color: #101010; border-color: #e6e6e6; text-align: center;font-family: &apos;Gotham Rounded-Bold&apos;, sans-serif&quot;&gt;&lt;span style=&quot;color: #ca9f47;&quot;&gt;ABONO&lt;/span&gt;&lt;/td&gt;
                 &lt;td style=&quot;border:8px; height: auto; border-style: solid; background-color: #101010; border-color: #e6e6e6; text-align: center;font-family: &apos;Gotham Rounded-Bold&apos;, sans-serif&quot;&gt;&lt;span style=&quot;color: #ca9f47;&quot;&gt;BALANCE&lt;/span&gt;&lt;/td&gt;
             &lt;/tr&gt;
             
                &lt;tr style=&quot;border:8px; border-color:#101010; text-align:center; height: auto; font-family: &apos;Gotham Rounded&apos;, sans-serif&quot;&gt;
                        &lt;td style=&quot;border:8px; height: auto; border-style: solid; background-color: #e6e6e6; border-color: #e6e6e6; text-align: center;font-family: &apos;Gotham Rounded-Bold&apos;, sans-serif&quot;&gt;&lt;span&gt;{!DateSummary} {!conGCES}&lt;/span&gt;&lt;/td&gt;
                        &lt;td style=&quot;border:8px; height: auto; border-style: solid; background-color: #e6e6e6; border-color: #e6e6e6; text-align: center;font-family: &apos;Gotham Rounded-Bold&apos;, sans-serif&quot;&gt;&lt;span&gt;{!DescriptionSummary} {!conGCES}&lt;/span&gt;&lt;/td&gt;
                        &lt;td style=&quot;border:8px; height: auto; border-style: solid; background-color: #e6e6e6; border-color: #e6e6e6; text-align: center;font-family: &apos;Gotham Rounded-Bold&apos;, sans-serif&quot;&gt;&lt;span&gt;{!MontoSummary} {!conGCES}&lt;/span&gt;&lt;/td&gt;
                        &lt;td style=&quot;border:8px; height: auto; border-style: solid; background-color: #e6e6e6; border-color: #e6e6e6; text-align: center;font-family: &apos;Gotham Rounded-Bold&apos;, sans-serif&quot;&gt;&lt;span&gt;{!MoraSummary} {!conGCES}&lt;/span&gt;&lt;/td&gt;
                        &lt;td style=&quot;border:8px; height: auto; border-style: solid; background-color: #e6e6e6; border-color: #e6e6e6; text-align: center;font-family: &apos;Gotham Rounded-Bold&apos;, sans-serif&quot;&gt;&lt;span&gt;{!SubtotalSummary} {!conGCES}&lt;/span&gt;&lt;/td&gt;
                        &lt;td style=&quot;border:8px; height: auto; border-style: solid; background-color: #e6e6e6; border-color: #e6e6e6; text-align: center;font-family: &apos;Gotham Rounded-Bold&apos;, sans-serif&quot;&gt;&lt;span&gt;{!AbonoSummary} {!conGCES}&lt;/span&gt;&lt;/td&gt;
                        &lt;td style=&quot;border:8px; height: auto; border-style: solid; background-color: #e6e6e6; border-color: #e6e6e6; text-align: center;font-family: &apos;Gotham Rounded-Bold&apos;, sans-serif&quot;&gt;&lt;span&gt;{!BalanceSummary} {!conGCES}&lt;/span&gt;&lt;/td&gt;
                    &lt;/tr&gt;
             &lt;/tbody&gt;
             &lt;/table&gt;
             &lt;br/&gt;&lt;br/&gt;

             &lt;div style=&quot;background-color: #e6e6e6;&quot;&gt;
             &lt;table style=&quot;border-collapse: collapse; width: 18%; margin-left: 2.34950%; margin-right: auto; height: auto;&quot; border=&quot;1&quot;&gt;
                 &lt;tbody style=&quot;border-color: #101010; border: 5px&quot;&gt;
                     &lt;tr style=&quot;height: auto;&quot;&gt;
                         &lt;td style=&quot;border: 8px; height: auto; border-style: solid; border-color: #e6e6e6; background-color: #101010; text-align: center; font-family: &apos;Gotham Rounded&apos;, sans-serif;&quot;&gt;
                             &lt;span style=&quot;color: #ca9f47;&quot;&gt;PENDIENTE DE PAGO&lt;/span&gt;
                         &lt;/td&gt;
                     &lt;/tr&gt;
                     &lt;tr style=&quot;height: auto;&quot;&gt;
                         &lt;td style=&quot;border: 8px; height: auto; border-style: solid; border-color: #e6e6e6;  text-align: center; font-family: &apos;Gotham Rounded-Bold&apos;, sans-serif;&quot;&gt;
                             &lt;span style=&quot;color: #444444;&quot;&gt;{!$Record.CurrencyIsoCode}${!PendienteDePago}&lt;/span&gt;
                         &lt;/td&gt;
             &lt;/tr&gt;
                 &lt;/tbody&gt;
             &lt;/table&gt;
             &lt;/div&gt;
             &lt;br /&gt;&lt;br /&gt;&lt;br /&gt;&lt;br /&gt;&lt;br /&gt;&lt;br /&gt;&lt;br /&gt;

             &lt;div style=&quot;font-family: &apos;Gotham Rounded Light&apos;, sans-serif; color: #444444;&quot;&gt;
             &lt;p style=&quot;padding-left: 40px; margin-bottom: 0;&quot;&gt;Por favor, proceda a efectuar su pago con prontitud para evitar la acumulación de cargos adicionales.&lt;/p&gt;  &lt;br&gt;
             &lt;p style=&quot;padding-left: 40px; margin-top: 0; margin-bottom: 0;&quot;&gt;En el caso de que ya haya cumplido con dicho compromiso, le rogamos que desestime la presente comunicación.&lt;/p&gt;
             &lt;p style=&quot;padding-left: 40px; margin-top: 0;&quot;&gt;&lt;br /&gt;Si surge alguna pregunta o inquietud, no dude en ponerse en contacto con nosotros a través del siguiente correo electrónico: cuentasporcobrar@canarock.info.&lt;/p&gt;
             &lt;br&gt;
             &lt;/div&gt;
             &lt;/div&gt;
             &lt;div style=&quot;width: 100%;&quot;&gt;&lt;img style=&quot;width: 100%;&quot; src=&quot;https://i.imgur.com/ugMFkdm.png&quot; /&gt;&lt;/div&gt;
             &lt;div&gt;
             &lt;table style=&quot;border-collapse: collapse; width: 100%;&quot; border=&quot;1&quot;&gt;
             &lt;tbody&gt;
             &lt;tr&gt;
             &lt;td style=&quot;width: 38.0665%; border-style: hidden;&quot;&gt;&lt;a href=&quot;https://canarock.info/&quot; target=&quot;_blank&quot; rel=&quot;noopener&quot;&gt;&lt;img src=&quot;https://i.imgur.com/SS5CweV.jpg&quot; alt=&quot;&quot; width=&quot;181&quot; height=&quot;43&quot; /&gt;&lt;/a&gt;&lt;/td&gt;
             &lt;td style=&quot;width: 61.8943%; border-style: hidden;&quot;&gt;&lt;a href=&quot;https://www.facebook.com/&quot; target=&quot;_blank&quot; rel=&quot;noopener&quot;&gt; &lt;img style=&quot;float: right;&quot; src=&quot;https://i.imgur.com/DA7A53t.png&quot; alt=&quot;&quot; width=&quot;35&quot; height=&quot;35&quot; /&gt;&lt;/a&gt; &lt;a href=&quot;https://www.instagram.com/&quot; target=&quot;_blank&quot; rel=&quot;noopener&quot;&gt; &lt;img style=&quot;float: right;&quot; src=&quot;https://i.imgur.com/zmaRmj2.png&quot; alt=&quot;&quot; width=&quot;35&quot; height=&quot;35&quot; /&gt; &lt;/a&gt; &lt;a href=&quot;https://www.tiktok.com/&quot; target=&quot;_blank&quot; rel=&quot;noopener&quot;&gt; &lt;img style=&quot;float: right;&quot; src=&quot;https://i.imgur.com/T844VSf.png&quot; alt=&quot;&quot; width=&quot;35&quot; height=&quot;35&quot; /&gt; &lt;/a&gt; &lt;a href=&quot;https://www.linkedin.com/&quot; target=&quot;_blank&quot; rel=&quot;noopener&quot;&gt; &lt;img style=&quot;float: right;&quot; src=&quot;https://i.imgur.com/uUYbW2H.png&quot; alt=&quot;&quot; width=&quot;35&quot; height=&quot;35&quot; /&gt; &lt;/a&gt; &lt;a href=&quot;https://www.youtube.com/&quot; target=&quot;_blank&quot; rel=&quot;noopener&quot;&gt; &lt;img style=&quot;float: right;&quot; src=&quot;https://i.imgur.com/S2C2Fjh.png&quot; alt=&quot;&quot; width=&quot;35&quot; height=&quot;35&quot; /&gt; &lt;/a&gt;&lt;/td&gt;
             &lt;/tr&gt;
             &lt;/tbody&gt;
             &lt;/table&gt;

&lt;/body&gt;
&lt;/div&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailBodyEnglish</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;div&gt;
           &lt;head&gt;
    &lt;style&gt;
    body {
        width: 1100px;
        /* to centre page on screen*/
        margin-left: auto;
        margin-right: auto;
    }
    &lt;/style&gt;
  &lt;/head&gt;
  &lt;body&gt;
            &lt;table style=&quot;border-collapse: collapse; width: 100%; height: 225px;&quot; border=&quot;1&quot;&gt;
                &lt;tbody&gt;
                    &lt;tr style=&quot;height: 225px;&quot;&gt;
                        &lt;td style=&quot;width: 0%; border-style: hidden; background-color: #e6e6e6; height: 225px;&quot;&gt;
                            &lt;p style=&quot;padding-left: 75px;&quot;&gt;&lt;a href=&quot;https://ibb.co/7VjZ7xq&quot;&gt;&lt;img src=&quot;https://i.ibb.co/FJmyGkF/notification2.png&quot; alt=&quot;&quot; border=&quot;0&quot; width=&quot;225&quot; height=&quot;60&quot;&gt;&lt;/a&gt;&lt;/p&gt;
                            &lt;div style=&quot;padding-left: 90px;&quot;&gt;
                                &lt;p style=&quot;font-family: &apos;Gotham Rounded&apos;, sans-serif;&quot;&gt;&lt;strong&gt;Dear:&lt;/strong&gt;&lt;/p&gt;
                            &lt;/div&gt;
                            &lt;div style=&quot;padding-left: 90px;&quot;&gt;
                                &lt;p style=&quot;font-family: &apos;Gotham Rounded&apos;, sans-serif; margin: 0; &quot;&gt;&lt;strong&gt;{!Get_Contact.Name}&lt;/strong&gt;&lt;/p&gt;
                            &lt;/div&gt;    
                            &lt;div style=&quot;padding-left: 90px;&quot;&gt;
                                &lt;p style=&quot;font-family: &apos;Gotham Rounded&apos;, sans-serif; margin: 0; &quot;&gt;&lt;strong&gt;{!Get_Most_Recent_Overdue_Cash.Tipo_de_pago__c}&lt;/strong&gt;&lt;/p&gt;
                            &lt;/div&gt;
                            &lt;div style=&quot;padding-left: 90px;&quot;&gt;
                                &lt;p style=&quot;margin: 0;&quot;&gt;&lt;span style=&quot;background-color: #e6e6e6; color: #ca9f47;font-family: &apos;Gotham Rounded-Bold&apos;, sans-serif &quot;&gt;&lt;strong&gt;{!Get_Most_Recent_Overdue_Cash.Unidad__c}&lt;/strong&gt;&lt;/span&gt;&lt;/p&gt;
                            &lt;/div&gt;
                        &lt;/td&gt;
                        &lt;td style=&quot;width: 0%; border-style: hidden; background-color: #e6e6e6; height: 236px;&quot;&gt;
                            &lt;div style=&quot;padding-right: 90px; margin-top: -35px;&quot;&gt;&lt;br /&gt;
                                &lt;p style=&quot;text-align: right; font-family: Gotham Rounded-Bold; text-wrap: wrap; font-family: &apos;Gotham Rounded-Bold&apos;, sans-serif; margin: 0;&quot;&gt;&lt;strong&gt;FECHA:&lt;/strong&gt; &lt;p style=&quot;margin: 0;text-align: right; color: #ca9f47; font-family: Gotham Rounded-Book; text-wrap: wrap; font-family: &apos;Gotham Rounded-Light&apos;, sans-serif&quot;&gt;&lt;strong&gt;{!$Flow.CurrentDate}&lt;/strong&gt;&lt;/p&gt;&lt;/p&gt;
                            &lt;/div&gt;
                            &lt;p&gt;&lt;strong&gt;&lt;img style=&quot;float: right; margin-left: 10px;&quot; src=&quot;https://i.imgur.com/DmXTWMy.png&quot; alt=&quot;&quot; width=&quot;500&quot; height=&quot;150&quot; /&gt;&lt;/strong&gt;&lt;/p&gt;
                        &lt;/td&gt;
                    &lt;/tr&gt;
                    &lt;/tbody&gt;
                    &lt;/table&gt;
                    &lt;p&gt;&lt;/p&gt;

                    &lt;div style=&quot;background-color: #e6e6e6; text-align: left; padding-left: 50px; font-family: &apos;Gotham Rounded Light&apos;, sans-serif; color: #444444; &quot;&gt;&lt;br/&gt;&lt;br&gt;
                    &amp;nbsp; &amp;nbsp;The purpose of this notice is to inform you of overdue fees, which are detailed below.&lt;br /&gt;&lt;br/&gt; &lt;br&gt;&lt;br&gt; &lt;/div&gt;
                    &lt;div style=&quot;background-color: #e6e6e6; text-align: center;&quot;&gt;&amp;nbsp;&lt;/div&gt;
                    &lt;div style=&quot;background-color: #e6e6e6;&quot;&gt;
                    &lt;table style=&quot;border-collapse: collapse; width: 95.3011%; margin-left: auto; margin-right: auto; height: 38px;&quot; border=&quot;1&quot;&gt;
                    &lt;tbody style=&quot;border-color: #101010; border: 5px&quot;&gt;
                    &lt;tr style=&quot;height: 18px;&quot;&gt;
                        &lt;td style=&quot;border:8px; height: 38px; border-style: solid; border-color: #e6e6e6; background-color: #101010; text-align: center;font-family: &apos;Gotham Rounded-Bold&apos;, sans-serif&quot;&gt;&lt;span style=&quot;color: #ca9f47;&quot;&gt;Expiration&lt;/span&gt;&lt;/td&gt;
                        &lt;td style=&quot;border:8px; height: 38px; border-style: solid; background-color: #101010; border-color: #e6e6e6; text-align: center;font-family: &apos;Gotham Rounded-Bold&apos;, sans-serif&quot;&gt;&lt;span style=&quot;color: #ca9f47;&quot;&gt;Concept&lt;/span&gt;&lt;/td&gt;
                        &lt;td style=&quot;border:8px; height: 38px; border-style: solid; background-color: #101010; border-color: #e6e6e6; text-align: center;font-family: &apos;Gotham Rounded-Bold&apos;, sans-serif&quot;&gt;&lt;span style=&quot;color: #ca9f47;&quot;&gt;Amount&lt;/span&gt;&lt;/td&gt;
                        &lt;td style=&quot;border:8px; height: 38px; border-style: solid; background-color: #101010; border-color: #e6e6e6; text-align: center;font-family: &apos;Gotham Rounded-Bold&apos;, sans-serif&quot;&gt;&lt;span style=&quot;color: #ca9f47;&quot;&gt;Overdue Fee&lt;/span&gt;&lt;/td&gt;
                        &lt;td style=&quot;border:8px; height: 38px; border-style: solid; background-color: #101010; border-color: #e6e6e6; text-align: center;font-family: &apos;Gotham Rounded-Bold&apos;, sans-serif&quot;&gt;&lt;span style=&quot;color: #ca9f47;&quot;&gt;Subtotal&lt;/span&gt;&lt;/td&gt;
                        &lt;td style=&quot;border:8px; height: 38px; border-style: solid; background-color: #101010; border-color: #e6e6e6; text-align: center;font-family: &apos;Gotham Rounded-Bold&apos;, sans-serif&quot;&gt;&lt;span style=&quot;color: #ca9f47;&quot;&gt;Payment&lt;/span&gt;&lt;/td&gt;
                        &lt;td style=&quot;border:8px; height: 38px; border-style: solid; background-color: #101010; border-color: #e6e6e6; text-align: center;font-family: &apos;Gotham Rounded-Bold&apos;, sans-serif&quot;&gt;&lt;span style=&quot;color: #ca9f47;&quot;&gt;Balance&lt;/span&gt;&lt;/td&gt;
                    &lt;/tr&gt;

                    &lt;tr style=&quot;border:8px; border-color:#101010;height: 18px; text-align:center; height: 80px; font-family: &apos;Gotham Rounded-Light&apos;, sans-serif&quot;&gt;
                        &lt;td style=&quot;border:8px; height: 38px; border-style: solid; background-color: #e6e6e6; border-color: #e6e6e6; text-align: center;font-family: &apos;Gotham Rounded-Bold&apos;, sans-serif&quot;&gt;{!Get_Most_Recent_Overdue_Cash.pba_financial__Date__c}&lt;/span&gt;&lt;/td&gt;
                        &lt;td style=&quot;border:8px; height: 38px; border-style: solid; background-color: #e6e6e6; border-color: #e6e6e6; text-align: center;font-family: &apos;Gotham Rounded-Bold&apos;, sans-serif&quot;&gt;{!Get_Contact.Description}&lt;/span&gt;&lt;/td&gt;
                        &lt;td style=&quot;border:8px; height: 38px; border-style: solid; background-color: #e6e6e6; border-color: #e6e6e6; text-align: center;font-family: &apos;Gotham Rounded-Bold&apos;, sans-serif&quot;&gt;{!Get_Most_Recent_Overdue_Cash.pba_financial__Amount__c}&lt;/span&gt;&lt;/td&gt;
                        &lt;td style=&quot;border:8px; height: 38px; border-style: solid; background-color: #e6e6e6; border-color: #e6e6e6; text-align: center;font-family: &apos;Gotham Rounded-Bold&apos;, sans-serif&quot;&gt;{!Get_Most_Recent_Overdue_Cash.Late_Payment_Fee__c}&lt;/span&gt;&lt;/td&gt;
                        &lt;td style=&quot;border:8px; height: 38px; border-style: solid; background-color: #e6e6e6; border-color: #e6e6e6; text-align: center;font-family: &apos;Gotham Rounded-Bold&apos;, sans-serif&quot;&gt;{!Subtotal}&lt;/span&gt;&lt;/td&gt;
                        &lt;td style=&quot;border:8px; height: 38px; border-style: solid; background-color: #e6e6e6; border-color: #e6e6e6; text-align: center;font-family: &apos;Gotham Rounded-Bold&apos;, sans-serif&quot;&gt;{!Get_Most_Recent_Overdue_Cash.pba_financial__Allocated__c}&lt;/span&gt;&lt;/td&gt;
                        &lt;td style=&quot;border:8px; height: 38px; border-style: solid; background-color: #e6e6e6; border-color: #e6e6e6; text-align: center;font-family: &apos;Gotham Rounded-Bold&apos;, sans-serif&quot;&gt;{!Get_Most_Recent_Overdue_Cash.pba_financial__Not_Allocated__c}&lt;/span&gt;&lt;/td&gt;

                    &lt;/tr&gt;
                    &lt;/tbody&gt;
                    &lt;/table&gt;
                    &lt;br /&gt;&lt;br /&gt;&lt;br /&gt;&lt;br /&gt;&lt;br /&gt;&lt;br /&gt;&lt;br /&gt;&lt;br /&gt;&lt;br /&gt;


                    &lt;div style=&quot;background-color: #e6e6e6;&quot;&gt;
                    &lt;table style=&quot;border-collapse: collapse; width: 18%; margin-left: 2.34950%; margin-right: auto; height: 38px;&quot; border=&quot;1&quot;&gt;
                        &lt;tbody style=&quot;border-color: #101010; border: 5px&quot;&gt;
                            &lt;tr style=&quot;height: 18px;&quot;&gt;
                                &lt;td style=&quot;border: 8px; height: 38px; border-style: solid; border-color: #e6e6e6; background-color: #101010; text-align: center; font-family: &apos;Gotham Rounded-Bold&apos;, sans-serif&quot;&gt;
                                    &lt;span style=&quot;color: #ca9f47;&quot;&gt;Outstanding Payment&lt;/span&gt;
                                &lt;/td&gt;
                            &lt;/tr&gt;
                            &lt;tr style=&quot;height: 18px;&quot;&gt;
                                &lt;td style=&quot;border: 8px; height: 38px; border-style: solid; border-color: #e6e6e6;  text-align: center; font-family: &apos;Gotham Rounded-Bold&apos;, sans-serif;&quot;&gt;
                                    &lt;span style=&quot;color: #444444;&quot;&gt;{!NotAllocated}&lt;/span&gt;
                                &lt;/td&gt;
                    &lt;/tr&gt;
                        &lt;/tbody&gt;
                    &lt;/table&gt;
                    &lt;/div&gt;

                    &lt;br /&gt;&lt;br /&gt;&lt;br /&gt;&lt;br /&gt;&lt;br /&gt;&lt;br /&gt;&lt;br /&gt;

                    &lt;div style=&quot;font-family: &apos;Gotham Rounded Light&apos;, sans-serif; color: #444444;&quot;&gt;
                    &lt;p style=&quot;padding-left: 40px; margin-bottom: 0;&quot;&gt;Please proceed with your payment promptly to avoid accruing additional charges.&lt;/p&gt;  &lt;br&gt;
                    &lt;p style=&quot;padding-left: 40px; margin-top: 0; margin-bottom: 0;&quot;&gt;If you have already fulfilled this commitment, we ask that you please ignore this communication.&lt;/p&gt;
                    &lt;p style=&quot;padding-left: 40px; margin-top: 0;&quot;&gt;&lt;br/&gt;If you wish to contact us, we will be happy to assist you. You can send us an Email: cuentasporcobrar@canarock.info or Call us at: +1 (829) 748-6617.&amp;nbsp;&lt;/p&gt;
                    &lt;br&gt;
                    &lt;/div&gt;
                    &lt;/div&gt;
                    &lt;div style=&quot;width: 100%;&quot;&gt;&lt;a href=&quot;https://ibb.co/q1cjwfT&quot;&gt;&lt;img src=&quot;https://i.ibb.co/LpcRfWV/footer2.png&quot; alt=&quot;&quot; border=&quot;0&quot; width=&quot;100%&quot;&gt;&lt;/a&gt;&lt;/div&gt;
                    &lt;div&gt;
                    &lt;table style=&quot;border-collapse: collapse; width: 100%;&quot; border=&quot;1&quot;&gt;
                    &lt;tbody&gt;
                    &lt;tr&gt;
                    &lt;td style=&quot;width: 38.0665%; border-style: hidden;&quot;&gt;&lt;a href=&quot;https://canarock.info/&quot; target=&quot;_blank&quot; rel=&quot;noopener&quot;&gt;&lt;img src=&quot;https://i.imgur.com/SS5CweV.jpg&quot; alt=&quot;&quot; width=&quot;181&quot; height=&quot;43&quot; /&gt;&lt;/a&gt;&lt;/td&gt;
                    &lt;td style=&quot;width: 61.8943%; border-style: hidden;&quot;&gt;&lt;a href=&quot;https://www.facebook.com/&quot; target=&quot;_blank&quot; rel=&quot;noopener&quot;&gt; &lt;img style=&quot;float: right;&quot; src=&quot;https://i.imgur.com/DA7A53t.png&quot; alt=&quot;&quot; width=&quot;35&quot; height=&quot;35&quot; /&gt;&lt;/a&gt; &lt;a href=&quot;https://www.instagram.com/&quot; target=&quot;_blank&quot; rel=&quot;noopener&quot;&gt; &lt;img style=&quot;float: right;&quot; src=&quot;https://i.imgur.com/zmaRmj2.png&quot; alt=&quot;&quot; width=&quot;35&quot; height=&quot;35&quot; /&gt; &lt;/a&gt; &lt;a href=&quot;https://www.tiktok.com/&quot; target=&quot;_blank&quot; rel=&quot;noopener&quot;&gt; &lt;img style=&quot;float: right;&quot; src=&quot;https://i.imgur.com/T844VSf.png&quot; alt=&quot;&quot; width=&quot;35&quot; height=&quot;35&quot; /&gt; &lt;/a&gt; &lt;a href=&quot;https://www.linkedin.com/&quot; target=&quot;_blank&quot; rel=&quot;noopener&quot;&gt; &lt;img style=&quot;float: right;&quot; src=&quot;https://i.imgur.com/uUYbW2H.png&quot; alt=&quot;&quot; width=&quot;35&quot; height=&quot;35&quot; /&gt; &lt;/a&gt; &lt;a href=&quot;https://www.youtube.com/&quot; target=&quot;_blank&quot; rel=&quot;noopener&quot;&gt; &lt;img style=&quot;float: right;&quot; src=&quot;https://i.imgur.com/S2C2Fjh.png&quot; alt=&quot;&quot; width=&quot;35&quot; height=&quot;35&quot; /&gt; &lt;/a&gt;&lt;/td&gt;
                    &lt;/tr&gt;
                    &lt;/tbody&gt;
                    &lt;/table&gt;

  &lt;/body&gt;
&lt;/div&gt;</text>
    </textTemplates>
    <variables>
        <name>AbonoSummary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BalanceSummary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CashSummary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentFeeCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>currentItem_Test_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pba_financial__Cash__c</objectType>
    </variables>
    <variables>
        <name>DateSummary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DescriptionSummary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DuePaymentsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>InitialPaymentAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>Loop_cash_records.Initial_Payment_Amount__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>LatePaymentFee</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>Loop_cash_records.Late_Payment_Fee__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>MontoSummary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MoraSummary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SubtotalSummary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TotalOverdue</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TotalPaymentOverdue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
