force-app/main/default/flows/Cash_Update_Late_Payment_Fee_Cash_Only.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Set_Amount</name>
        <label>Set Amount</label>
        <locationX>50</locationX>
        <locationY>396</locationY>
        <assignmentItems>
            <assignToReference>$Record.pba_financial__Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Initial_Payment_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.pba_financial__Amount__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Late_Payment_Fee__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_cash</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>IS_OVERDUE</name>
        <label>IS OVERDUE</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pba_financial__Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pba_financial__Amount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Initial_Payment_Amount__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Amount</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <description>-- Updates the Amount on cash records with the late payment fee
-- Only affects the cash records (Not the payments)
-- Use for the leftover cash records that have no payment connected</description>
    <environments>Default</environments>
    <interviewLabel>Cash: Update Late Payment Fee (Cash Only) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cash: Update Late Payment Fee (Cash Only)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_cash</name>
        <label>Update cash</label>
        <locationX>50</locationX>
        <locationY>516</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IS_OVERDUE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pba_financial__Allocated_Percent__c</field>
            <operator>LessThan</operator>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cash In</stringValue>
            </value>
        </filters>
        <filters>
            <field>Initial_Payment_Amount__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Initial_Payment_Amount__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Activate_Late_Payment_Fee__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>pba_financial__Cash__c</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2022-11-02</startDate>
            <startTime>16:45:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
</Flow>
