force-app/main/default/flows/Dual_List_Box_Demo.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Add_Variables_to_Collection</name>
        <label>Add Variables to Collection</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>Elements</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Element1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Elements</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Element2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Elements</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Element3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedElements</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Element4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedElements</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Element5</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Demo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Element_Assignement</name>
        <label>Element Assignement</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Element1.Label</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Label_of_Element_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Element1.Value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Value_of_Element_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Element1.IconName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Icon_Name_of_Element_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Element1.Tooltip</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tooltip_of_Element_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Element1.Disabled</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Disabled_of_Element_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Element2.Label</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Label_of_Element_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Element2.Value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Value_of_Element_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Element2.IconName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Icon_Name_of_Element_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Element2.Tooltip</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tooltip_of_Element_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Element2.Disabled</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Disabled_of_Element_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Element3.Label</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Label_of_Element_3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Element3.Value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Value_of_Element_3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Element3.IconName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Icon_Name_of_Element_3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Element3.Tooltip</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tooltip_of_Element_3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Element3.Disabled</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Disabled_of_Element_3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Element4.Label</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Label_of_Element_4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Element4.Value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Value_of_Element_4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Element4.IconName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Icon_Name_of_Element_4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Element4.Tooltip</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tooltip_of_Element_4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Element4.Disabled</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Disabled_of_Element_4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Element5.Label</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Label_of_Element_5</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Element5.Value</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Value_of_Element_5</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Element5.IconName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Icon_Name_of_Element_5</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Element5.Tooltip</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tooltip_of_Element_5</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Element5.Disabled</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Disabled_of_Element_5</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Variables_to_Collection</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Dual List Box Demo {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Dual List Box Demo</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Demo</name>
        <label>Demo</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Returned_Elements</targetReference>
        </connector>
        <fields>
            <name>DualListBox</name>
            <extensionName>c:esDualListBox</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>availableElements</name>
                <value>
                    <elementReference>Elements</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedElements</name>
                <value>
                    <elementReference>SelectedElements</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>availableColumnLabel</name>
                <value>
                    <stringValue>Available Elements</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedColumnLabel</name>
                <value>
                    <stringValue>Selected Elements</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>DualBox Demo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabledBackground</name>
                <value>
                    <elementReference>Disabled_Background</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabledColor</name>
                <value>
                    <elementReference>Disabled_Color</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconVariant</name>
                <value>
                    <elementReference>Icon_Variant</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ReturnedElements</assignToReference>
                <name>returnedElements</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>FlowCollectionDefinition</name>
        <label>FlowCollectionDefinition</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Element_Assignement</targetReference>
        </connector>
        <fields>
            <name>AvailableHeader</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Available Options&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FlowCollectionDefinition_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>FlowCollectionDefinition_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Disabled_Color</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>#c4d0ffd9</stringValue>
                    </defaultValue>
                    <fieldText>Disabled Color</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Disabled_Background</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>#f70d0dd9</stringValue>
                    </defaultValue>
                    <fieldText>Disabled Background</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Icon_Variant</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>success</stringValue>
                    </defaultValue>
                    <fieldText>Icon Variant</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>FlowCollectionDefinition_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>FlowCollectionDefinition_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Label_of_Element_1</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Element 1</stringValue>
                    </defaultValue>
                    <fieldText>Label of Element 1</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;This is the text the component will show. &lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Tooltip_of_Element_1</name>
                    <dataType>String</dataType>
                    <fieldText>Tooltip of Element 1</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Disabled_of_Element_1</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Disabled?</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Set to true if you want this option to be grayed out&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>FlowCollectionDefinition_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Value_of_Element_1</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Element 1</stringValue>
                    </defaultValue>
                    <fieldText>Value of Element 1</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Usually this would be the record Id&lt;/p&gt;</helpText>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Icon_Name_of_Element_1</name>
                    <dataType>String</dataType>
                    <fieldText>Icon Name of Element 1</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Use the Icon Name following Salesforce SLDS icon nomenclarut(for example, utility:user) &lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>FlowCollectionDefinition_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>FlowCollectionDefinition_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Label_of_Element_2</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Element 2</stringValue>
                    </defaultValue>
                    <fieldText>Label of Element 2</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Tooltip_of_Element_2</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Help Text</stringValue>
                    </defaultValue>
                    <fieldText>Tooltip of Element 2</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Disabled_of_Element_2</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>true</booleanValue>
                    </defaultValue>
                    <fieldText>Disabled?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>FlowCollectionDefinition_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Value_of_Element_2</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Element 2</stringValue>
                    </defaultValue>
                    <fieldText>Value of Element 2</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Icon_Name_of_Element_2</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>utility:close</stringValue>
                    </defaultValue>
                    <fieldText>Icon Name of Element 2</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>FlowCollectionDefinition_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>FlowCollectionDefinition_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Label_of_Element_3</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Element 3</stringValue>
                    </defaultValue>
                    <fieldText>Label of Element 3</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Tooltip_of_Element_3</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Available with tooltip</stringValue>
                    </defaultValue>
                    <fieldText>Tooltip of Element 3</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Disabled_of_Element_3</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Disabled?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>FlowCollectionDefinition_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Value_of_Element_3</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Element 3</stringValue>
                    </defaultValue>
                    <fieldText>Value of Element 3</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Icon_Name_of_Element_3</name>
                    <dataType>String</dataType>
                    <fieldText>Icon Name of Element 3</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SelectedHeader</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Selected options&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FlowCollectionDefinition_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>FlowCollectionDefinition_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Label_of_Element_4</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Element 4</stringValue>
                    </defaultValue>
                    <fieldText>Label of Element 4</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Tooltip_of_Element_4</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Selected: Cannot deselect</stringValue>
                    </defaultValue>
                    <fieldText>Tooltip of Element 4</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Disabled_of_Element_4</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>true</booleanValue>
                    </defaultValue>
                    <fieldText>Disabled?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>FlowCollectionDefinition_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Value_of_Element_4</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Element 4</stringValue>
                    </defaultValue>
                    <fieldText>Value of Element 4</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Icon_Name_of_Element_4</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>utility:close</stringValue>
                    </defaultValue>
                    <fieldText>Icon Name of Element 4</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>FlowCollectionDefinition_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>FlowCollectionDefinition_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Label_of_Element_5</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Element 5</stringValue>
                    </defaultValue>
                    <fieldText>Label of Element 5</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Tooltip_of_Element_5</name>
                    <dataType>String</dataType>
                    <fieldText>Tooltip of Element 5</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Disabled_of_Element_5</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Disabled?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>FlowCollectionDefinition_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Value_of_Element_5</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Element 5</stringValue>
                    </defaultValue>
                    <fieldText>Value of Element 5</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Icon_Name_of_Element_5</name>
                    <dataType>String</dataType>
                    <fieldText>Icon Name of Element 5</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <helpText>&lt;p&gt;Use this screen to set a Collection of 5 elements.  Each element has properties that will set a behavior for the DualBox component&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Returned_Elements</name>
        <label>Returned Elements</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Display_Returned</name>
            <fieldText>&lt;p&gt;Returned Elements:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!ReturnedElements}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>FlowCollectionDefinition</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Element1</name>
        <apexClass>DualListElements</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Element2</name>
        <apexClass>DualListElements</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Element3</name>
        <apexClass>DualListElements</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Element4</name>
        <apexClass>DualListElements</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Element5</name>
        <apexClass>DualListElements</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Elements</name>
        <apexClass>DualListElements</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReturnedElements</name>
        <apexClass>DualListElements</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedElements</name>
        <apexClass>DualListElements</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
