force-app/main/default/flows/Payment_Reset_amount_to_Initial_value.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Reset_Amount_to_Initial_Value</name>
        <label>Reset Amount to Initial Value</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>$Record.pba_financial__Total_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Initial_Payment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.pba_financial__Net_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Initial_Payment__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Payment</targetReference>
        </connector>
    </assignments>
    <description>-- Sets the &apos;Cantidad de pago&apos; and &apos;Neto total to the initial payment amount</description>
    <environments>Default</environments>
    <interviewLabel>Payment: Reset amount to Initial value {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Payment: Reset amount to Initial value</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Payment</name>
        <label>Update Payment</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Reset_Amount_to_Initial_Value</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4 OR 5 OR 6) AND (7 OR 8)</filterLogic>
        <filters>
            <field>Initial_Payment__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Initial_Payment__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Tipo_de_pago__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Apartamento</stringValue>
            </value>
        </filters>
        <filters>
            <field>Tipo_de_pago__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Paquete Mobiliario</stringValue>
            </value>
        </filters>
        <filters>
            <field>Tipo_de_pago__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Jacuzzi</stringValue>
            </value>
        </filters>
        <filters>
            <field>Tipo_de_pago__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Mantenimiento</stringValue>
            </value>
        </filters>
        <filters>
            <field>pba_financial__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Planned</stringValue>
            </value>
        </filters>
        <filters>
            <field>pba_financial__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <object>pba_financial__Payment__c</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2022-11-08</startDate>
            <startTime>18:55:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
</Flow>
