force-app/main/default/flows/Payment_Set_Late_Payment_fees_from_Cash_One_time.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_Fee</name>
        <label>Add Fee</label>
        <locationX>264</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>Amount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_cash.Late_Payment_Fee__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_cash</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_Amount</name>
        <label>Set New Amount</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignmentItems>
            <assignToReference>Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Initial_Payment__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Cash</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Payment: Set Late Payment fees from Cash (One time) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Payment: Set Late Payment fees from Cash (One time)</label>
    <loops>
        <name>Loop_cash</name>
        <label>Loop cash</label>
        <locationX>176</locationX>
        <locationY>468</locationY>
        <collectionReference>Get_Cash</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Fee</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Payment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Cash</name>
        <label>Get Cash</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_cash</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>To_Payment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Late_Payment_Fee__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>pba_financial__Cash__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Payment</name>
        <label>Update Payment</label>
        <locationX>176</locationX>
        <locationY>768</locationY>
        <inputAssignments>
            <field>pba_financial__Net_Amount__c</field>
            <value>
                <elementReference>Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pba_financial__Total_Amount__c</field>
            <value>
                <elementReference>Amount</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_New_Amount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Initial_Payment__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Initial_Payment__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>pba_financial__Payment__c</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2023-07-08</startDate>
            <startTime>18:45:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Amount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
