force-app/main/default/flows/Payment_Set_Late_Payment_fees_from_Cash_Once.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_Fee</name>
        <label>Add Fee</label>
        <locationX>270</locationX>
        <locationY>636</locationY>
        <assignmentItems>
            <assignToReference>Amount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_cash.Late_Payment_Fee__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_cash</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_Amount</name>
        <label>Set New Amount</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Initial_Payment__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Cash</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Amount_Changed</name>
        <label>Amount Changed</label>
        <locationX>182</locationX>
        <locationY>852</locationY>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Amount</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Initial_Payment__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Payment</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <description>-- Corre una vez. Usar para sincronizar los payments con las moras de los cash
-- Apunta unicamente a los Payments que generan Moras
-- Suma todas las moras de los Cash y actualiza el Amount de ser necesario</description>
    <environments>Default</environments>
    <interviewLabel>Payment: Set Late Payment fees from Cash (Daily) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Payment: Set Late Payment fees from Cash (One Time)</label>
    <loops>
        <name>Loop_cash</name>
        <label>Loop cash</label>
        <locationX>182</locationX>
        <locationY>516</locationY>
        <collectionReference>Get_Cash</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Fee</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Amount_Changed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Cash</name>
        <label>Get Cash</label>
        <locationX>182</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_cash</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>To_Payment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Late_Payment_Fee__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>pba_financial__Cash__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Payment</name>
        <label>Update Payment</label>
        <locationX>50</locationX>
        <locationY>972</locationY>
        <inputAssignments>
            <field>pba_financial__Net_Amount__c</field>
            <value>
                <elementReference>Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pba_financial__Total_Amount__c</field>
            <value>
                <elementReference>Amount</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_New_Amount</targetReference>
        </connector>
        <filterLogic>(1 OR 2 )  AND 3 AND 4  AND (5 OR 6 Or 7 OR 8)</filterLogic>
        <filters>
            <field>pba_financial__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <filters>
            <field>pba_financial__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Planned</stringValue>
            </value>
        </filters>
        <filters>
            <field>Initial_Payment__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Initial_Payment__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Tipo_de_pago__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Apartamento</stringValue>
            </value>
        </filters>
        <filters>
            <field>Tipo_de_pago__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Paquete Mobiliario</stringValue>
            </value>
        </filters>
        <filters>
            <field>Tipo_de_pago__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Jacuzzi</stringValue>
            </value>
        </filters>
        <filters>
            <field>Tipo_de_pago__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Mantenimiento</stringValue>
            </value>
        </filters>
        <object>pba_financial__Payment__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-11-23</startDate>
            <startTime>02:45:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>Amount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
