force-app/main/default/flows/Setup_Assistant_Demo.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Apex_Assignement</name>
        <label>Apex Assignement</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>SetupAssistantElementVariable.badge</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Example</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SetupAssistantElementVariable.badgeVariant</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>dark</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SetupAssistantElementVariable.description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hello World</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SetupAssistantElementVariable.title</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Demo Title</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SetupAssistantElementVariable.firstLabel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Click</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SetupAssistantElementVariable.firstIconName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>utility:check</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SetupAssistantElementVariable.firstValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>check</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Setup_Assistant_Item_Demo</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Setup Assistant Demo {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Setup Assistant Demo</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Finish</name>
        <label>Finish</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SelectedValueDisplay</name>
            <fieldText>&lt;p&gt;{!SelectedValue}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Setup_Assistant_Item_Demo</name>
        <label>Setup Assistant Item Demo</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Finish</targetReference>
        </connector>
        <fields>
            <name>SetupAssistant</name>
            <extensionName>c:esSetupAssistant</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>additionalInfo</name>
                <value>
                    <stringValue>Additional Info Demo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>completed</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>description</name>
                <value>
                    <stringValue>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget quam sed ante maximus molestie sed et risus. Curabitur metus dolor, ullamcorper sit amet eros ultrices, sollicitudin scelerisque urna. In vehicula ex id viverra sodales. Quisque maximus, lectus id efficitur consectetur, elit ipsum ultricies massa, a ornare risus arcu at augue. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus molestie finibus molestie.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>firstIconName</name>
                <value>
                    <stringValue>utility:add</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondIconName</name>
                <value>
                    <stringValue>utility:help</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>thirdIconName</name>
                <value>
                    <stringValue>utility:clear</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>firstLabel</name>
                <value>
                    <stringValue>Add</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondLabel</name>
                <value>
                    <stringValue>Help</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>thirdLabel</name>
                <value>
                    <stringValue>Clear</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>index</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>First Item Title</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>firstValue</name>
                <value>
                    <stringValue>add</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondValue</name>
                <value>
                    <stringValue>help</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>thirdValue</name>
                <value>
                    <stringValue>clear</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedValue</assignToReference>
                <name>output</name>
            </outputParameters>
        </fields>
        <fields>
            <name>SetupAssistant2</name>
            <extensionName>c:esSetupAssistant</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>additionalInfo</name>
                <value>
                    <stringValue>Another Text</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>badge</name>
                <value>
                    <stringValue>ERROR</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>badgeVariant</name>
                <value>
                    <stringValue>error</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>completed</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>description</name>
                <value>
                    <stringValue>Vivamus est arcu, commodo at metus eget, rutrum semper mi. Vestibulum ex nisi, ullamcorper sit amet posuere sed, maximus quis quam.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondIconName</name>
                <value>
                    <stringValue>utility:adduser</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>thirdIconName</name>
                <value>
                    <stringValue>utility:attach</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondLabel</name>
                <value>
                    <stringValue>Adduser</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>thirdLabel</name>
                <value>
                    <stringValue>Attach</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>index</name>
                <value>
                    <numberValue>2.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>My Second Element</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>secondValue</name>
                <value>
                    <stringValue>adduser</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>thirdValue</name>
                <value>
                    <stringValue>attach</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedValue</assignToReference>
                <name>output</name>
            </outputParameters>
        </fields>
        <fields>
            <name>DemoWithApexVariable</name>
            <extensionName>c:esSetupAssistant</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>badge</name>
                <value>
                    <elementReference>SetupAssistantElementVariable.badge</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>badgeVariant</name>
                <value>
                    <elementReference>SetupAssistantElementVariable.badgeVariant</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>completed</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>description</name>
                <value>
                    <elementReference>SetupAssistantElementVariable.description</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>firstIconName</name>
                <value>
                    <elementReference>SetupAssistantElementVariable.firstIconName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>firstLabel</name>
                <value>
                    <elementReference>SetupAssistantElementVariable.firstLabel</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>firstValue</name>
                <value>
                    <elementReference>SetupAssistantElementVariable.firstValue</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <elementReference>SetupAssistantElementVariable.title</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>index</name>
                <value>
                    <numberValue>3.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedValue</assignToReference>
                <name>output</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Apex_Assignement</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>SelectedValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SetupAssistantElementVariable</name>
        <apexClass>SetupAssistantElement</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
